DB_HOST=mysql
DB_HOSTNAME=localhost
DB_PORT=3306

DB_USER=project2_user
DB_PASSWORD=project2_pass

DB_NAME=project2_db

USER_SECRET = secret_user_123
ALGORITHM = HS256


DB_NAME_TEST = project2_db_test
USE_TEST_DB = False
